<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989419377759-iukvc9ljbbnah388pu6josrqas4fg8ar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989419377759-iukvc9ljbbnah388pu6josrqas4fg8ar</string>
	<key>API_KEY</key>
	<string>AIzaSyBsWCs5oKwXReoF64JF9wAcXGp8SwSaZjY</string>
	<key>GCM_SENDER_ID</key>
	<string>989419377759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.faylasof.SocialMediaTask</string>
	<key>PROJECT_ID</key>
	<string>socialmediatask-a6244</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmediatask-a6244.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989419377759:ios:ee58184a7affbf9fcff7ea</string>
	<key>DATABASE_URL</key>
	<string>https://socialmediatask-a6244.firebaseio.com</string>
</dict>
</plist>